html {
    background-color: #f7f2e2;
}
@font-face {
    font-family: hillside;
    src: url(fonts/Hillside\ Sans\ copy.otf);
}
li {
    font-family: hillside, sans-serif;
    font-size: 100px;
    text-align: center;
    color:#072684;
}
.name {
    color:#2f4ca2;
    text-decoration: none;
    
}
.name:hover {
    color:#2f4ca2;
    text-decoration: none;
    font-size: 105px;
    
}
.center {
    display:block;
    margin-left:auto;
    margin-right:auto;

}
p {
    display:flexbox;
    text-align: center;
    font-size: 30px;
    margin-left: 400px;
    margin-right: 400px;

}
h1 {
    font-family: hillside, sans-serif;
    color:#2f4ca2;
    text-align: center;
}
h2 {
    font-family: hillside, sans-serif;
    color:#2f4ca2;
    text-align: center;
}
.workcontact {
    text-decoration:underline;
    color:#2f4ca2;
}
.carousel {
    margin:10px auto;
    width: 90%;
    height: 700px;
    display: flex;
    overflow-x:auto;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 15s infinite linear;
    padding-right: 1em;
}
.card {
    flex: 0 0 5em;
    height: 600px;
    padding: 1em;
    border-radius: .2em;
    text-align:center;
    align-content:center;
}
@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}
.contact {
    display: flex;
    height: 100px;
    border-radius: .2em;
    font-family: hillside, sans-serif;
    font-size: 60px;
    text-align: center;
    justify-content: center;
    color:#2f4ca2;
    position: absolute;
    margin: 300px auto;
    width: 100%;
    
}

.photos {
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.oo {
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.oo:hover {
    transform: scale(1.1);

}